.NewPatient {
  display: flex;
  justify-content: center;
}

.Footer {
  display: none;
}

@media print {
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.Signature {
  border-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 4em;
  display: inline-block;
  min-width: 35%;
  text-align: center;
}

.TodaysDate {
  margin-top: 1em;
}

.ActionRow {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.Label {
  padding-top: 0;
}
