.NewPatientForm {
  text-align: start;
  padding: 2em;
  padding-top: 0;
  min-width: 50%;
  max-width: 700px;
  font-size: 1.5em;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Signature {
  border-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 4em;
  display: inline-block;
  min-width: 35%;
  text-align: center;
}

.TodaysDate {
  margin-top: 1em;
}

.ActionRow {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
