.App {
  text-align: center;
}

.App-header {
  padding: 2em;
  padding-top: 1em;
}

.App-header-top {
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-logo {
  height: 5em;
}
/* 
.App-container {
  display: flex;
  justify-content: center;
} */
